* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
  }

html,body {
    height: 100%;
    width: 100%;
}
#main{
    /* background-color: black;  */
    position: relative;
    z-index: 10;
}
#page1 {
    height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 16px;
    margin-left: 0%;
    margin-right: auto;
    
}

nav { 
    padding: 2vw 2vw;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left:0px;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

#nav-part2 {

    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: space-between;
}

#nav-part2 h4 {
    padding: 10px 20px;
    border: 1px solid #07060689;
    border-radius:45px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    font-size: 18px;
    position: relative;
    transition: all ease 0.4s;
    overflow: hidden;
    margin-right: 20px;
}

#nav-part2 h4::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.4s;
}

#nav-part2 h4:hover::after {
    bottom: 0;
    border-radius: 0;


}

#nav-part2 h4 a {
    color: black;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a {
    color: white;
}
nav h3{
    display: none;
}
 
#center {
    height: 67vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border: 1px solid #0000003c;
    padding-bottom: 2.5vw;
    margin-left: 0%;
    margin-right: auto;
}
 
#left h3 {
    width: 30vw;
    font-size: 1.8vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#center h1{
    font-size: 7vw;
    text-align: right;
    line-height: 6vw;
}
#page1{
    height: 100%;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

#page1 video{
    position: relative;
    width: 100%;
    border-radius: 20px;
    margin-top: 4vw;
}
#hero-shape {
    position: absolute;
    width: 46vw;
    height: 30vw;
    right: -51px;
    top: 76vh;
}
#hero-1{
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
} 
  #hero-2{
    height: 30vw;
    width: 30vw;
    background-color: #fb350e;
    border-radius:50%;
    filter: blur(25px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}  
 #hero-3{
    height: 30vw;
    width: 30vw;
    background:linear-gradient(#f52d04,#f65f07);
    border-radius:50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
} 
@keyframes anime1{
    from{
        transform: translate(55%,-7%);
    }
    to{
        transform: translate(10%,10%);
    }
}
@keyframes anime2{
    from{
        transform: translate(5%,-5%);
    }
    to{
        transform: translate(-10%,20%);
    }
}

 #page2{
    min-height: 100%;
    width:100%;
    background-color:#EFEAE3;
    padding: 8vw 0vw;
    position: relative;
}  
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}
#moving-text::-webkit-scrollbar{
    display: block;
}
.con{
    white-space:nowrap ;
    display: inline-block;
    animation-name: moves;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}  
#moving-text h1{
    font-size: 7vw;
    display: inline-block;
   
}
#gola{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fE320A;
    display: inline-block;
    margin: 1vw 2vw;
}
@keyframes moves{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}
#page2-bottom{
    height: 80vh;
    width: 100%;
    padding: 3vw 3vw;
    background-color: aliceblue;
    display: flex;
    font-weight: 400;
    align-items: center;
    justify-content:space-between ;
    position: relative;

}
#page2-bottom h1{
    font-size: 3vw;
    width: 40%;
    
}
#bottom-part2{
    width: 30%;
}
#bottom-part2 img{
    width: 100%;
    border-radius: 20px;
}
#bottom-part2 p{
    font-style: italic;
    font-weight: 100;
}
#page2 #move{
    height: 32vw;
    width: 32vw;
    border-radius: 50%;
    position: absolute;
    background:linear-gradient(to top ,#e8033c,#fa4402) ;
    top: 57%;
    filter: blur(40px);
    animation-name: move;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-duration: alternate;
    animation-timing-function: ease-in-out;
}
@keyframes move{
    from{
        filter: blur(50px);
        transform: translate(10%,-10%) skew(0);
    }
    to{
        filter: blur(20px);
        transform: translate(-10%,10%)skew(-12deg);
    }
}
#page3{
    min-height: 100vw;
    width: 100%;
    background-color:#EFEAE3 ;
    padding: 4vw 0;
    
}
.elem{
    height: 100px;
    width: 100%;
    border-bottom: 1px solid rgb(148, 146, 146);
    position: relative;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}
.elem .h2{
    font-size: 3vw;
    position: relative;
    z-index: 9;
}
.elem .overlay{
    height: 100%;
    width: 100%;
    background-color: orange;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}
.elem:hover .overlay
{
    top: 0;
}
#fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 90;
    left: 50%;
    top: 27%;
    display: none;
    background-size:cover ;
    background-position: center;
}
#page4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}
.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    width: 30%;
    border-left:1px solid #a49f9f ;
    padding: 0 2vw;
  }

#page5{
    height: 100vh;
    width: 100%;
}
#footer{
 position: fixed;
 z-index: 9;
 height: 112vh;
 width: 100%;
 background-color: black;
color: white;
bottom: 0;
display: flex;
justify-content: flex-end;
flex-direction: column;
padding: 1vw 3vw;
}
#footer h2{
    font-size: 20vw;
}
#footer-div{
    height: 15vh;
    width: 100%;
    background-color: red;
}
#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}
#full-scr{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.317);
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.8s ;
}
#full-div1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20xp;
    border-bottom-right-radius: 20xp;
}
@media(max-width:600px){
    #page1{    
            min-height: 100vh;
            width: 100vw;
            padding: 0 0vw;           
        }
    
        nav { 
            padding: 8vw 5vw;
            background-color: #EFEAE3;
        }
        nav img{
            transition:all ease 0.2s ;
            height: 9vh;
        }
        #nav-part2 {
            display: none;
        }
        nav h3{
            display: block;
            padding: 2vw 10vw;
            border: 1px solid #cfc1c1;
            border-radius: 50px;
            font-size: 4vw;
            font-weight: 200;
            padding-left: 5vw;
        }
        #center {
            height: 62vh;
            width: 100%;
            /* background-color: orange; */
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border: 1px solid #0000003c;
            padding-bottom: 10vw;
            margin-left: 0%;
            margin-right: auto;
            flex-direction: column-reverse;
            position: relative;
            z-index: 9;
            
        }
         
        #left h3 {
            width: 80%;
            font-size: 5.5vw;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            line-height: 6vw;
        
        }
        #center h1{
            font-size: 17vw;
            text-align: right;
            line-height: 14vw;
            padding-right: 10vw;
        }
        #page1{
            height: 100%;
            width: 100%;
            background-color: #EFEAE3;
            position: relative;
            padding: 0 2vw;
        }
        
        #page1 video{
            position: relative;
            width: 92%;
            border-radius: 15px;
            margin-top: 4vw;
            margin-left: 4%;
            height: 70vh;
            object-fit: cover;
            object-position: center;
        }
        #page2{
            min-height: 100%;
            width:100%;
            background-color:#EFEAE3;
            padding: 8vw 0vw;
            position: relative;
        }  
        #moving-text{
            white-space: nowrap;
            overflow-x: auto;
        }
        #moving-text::-webkit-scrollbar{
            display: block;
        }
        .con{
            white-space:nowrap ;
            display: inline-block;
            animation-name: moves;
            animation-duration: 10s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
        }  
        #moving-text h1{
            font-size: 14vw;
            display: inline-block;
           
        }
        #gola{
            height: 25px;
            width: 25px;
            border-radius: 50%;
            background-color: #fE320A;
            display: inline-block;
            margin: vw 2vw;
        }
        #page2-bottom{
            height: 80vh;
            width: 100%;
            padding: 10vw 3vw;
            background-color: aliceblue;
            display: flex;
            font-weight: 400;
            align-items: flex-start;
            justify-content:space-between ;
            position: relative;
        
        }
        #page2-bottom h1{
            font-size: 9vw;
            width: 100%;
            line-height: 10vw;
        }
        #bottom-part2{
            width: 70%;
        }
        #bottom-part2 img{
            width: 100%;
            border-radius: 10px;
        }
        #bottom-part2 p{
            font-style: italic;
            font-weight: 100;
        }
        #page2 #move{
            height: 62vw;
            width: 62vw;
            border-radius: 50%;
            position: absolute;
            background:linear-gradient(to top ,#e8033c,#fa4402) ;
            top: 57%;
            filter: blur(40px);
            animation-name: move;
            animation-duration: 5s;
            animation-iteration-count: infinite;
            animation-duration: alternate;
            animation-timing-function: ease-in-out;
        }
}
#loader{
    height: 100%;
    width: 100%;
    background-color: black;
    position: fixed;
    z-index: 100;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center ;
}
  #loader h1{
    font-size: 4vw;
    color: transparent;
    background: linear-gradient(to right,orange,orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: load;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}
#loader h1:nth-child(2){
    animation-delay: 2s;
}
#loader h1:nth-child(3){
    animation-delay: 3s;
}
@keyframes load{
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;}
}

@media(max-width:600px){
    #loader h1{
        font-size: 10vw;
      
    }
}
@media(max-width:600px){
  .swiper-slide img{
   height: 20vh;
   width: 180%;
}
 .swiper-slide p{
    font-size: 2vh;
    width:fit-content;
    text-align: justify;
 }
}